@inherits LayoutComponentBase
<img src="https://st4.depositphotos.com/16030310/25211/v/600/depositphotos_252114468-stock-illustration-vector-illustration-of-blue-letters.jpg" alt="logo" class="p-2 pb-4 ml-10 float-left h-20">
<div class="p-5 text-right w-full bg-gradient-to-b from-blue-900 to-blue-600">
    <div>
        <NavLink href="" class="p-3 font-bold font-sans text-white text-2xl border-transparent hover:bg-blue-900 border-2 rounded-full">Home</NavLink>
        <NavLink href="hra" class="p-3 font-bold font-sans text-white text-2xl border-transparent hover:bg-blue-900 border-2 rounded-full">Hádání čísla</NavLink>
        <NavLink href="vybaveni_nemocnice" class="p-3 font-bold font-sans text-white text-2xl border-transparent hover:bg-blue-900 border-2 rounded-full">Vybavení nemocnice</NavLink>
        <NavLink href="https://www.fbmi.cvut.cz/cs/home" class="p-3 font-bold font-sans text-white text-2xl border-transparent hover:bg-blue-900 border-2 rounded-full">FBMI</NavLink>
    </div>
</div>

<!--<main class="´px-4b py-5">-->
  @Body

<!--</main>-->
