@page "/hra"

<h1>Ahoj, vítej ve hře</h1>
<h3>Hádej číslo</h3>

<input  @bind-value="oninput"/>

<button @onclick="Hadam">
    Hádat 
</button>

@*@<p>
@mysleneCislo
</p>*@

<p>
@vysledek <br> @pokyn
</p>

@code
{
    int mysleneCislo =  Random.Shared.Next(1, 101);
    
    string? oninput;   
    string? vysledek;
    string? pokyn;

    void Hadam()
    {   
        vysledek = "";
        pokyn = "";
        if (oninput == "znovu")
            {
                oninput = "";
                mysleneCislo = Random.Shared.Next(1, 101);
            }
        else if (!int.TryParse(oninput, out int hadaneCislo))
        {
        vysledek = "Musíš zadat číslo";
        }
    
        else if (hadaneCislo == mysleneCislo)
        {
            vysledek = $"Uhodl jsi, myšlené číslo bylo {mysleneCislo}"; 
            pokyn = "Pokud chceš hádat znovu, napiš \"znovu\" a stiskni Hádat";  
        }
        else
        {
        string vetsiNeboMensi = hadaneCislo < mysleneCislo ? "menší" : "větší";
        vysledek = $"Tvoje číslo je {vetsiNeboMensi} než myšlené číslo";
        }   
    }  
}

