@using Blazor.ViewModels
<div>@Vyb.name</div>
<div>@Vyb.boughtDateTime.ToString("yyyy-MM-dd")</div>
<div>@Vyb.lastRevisionDateTime.ToString("yyyy-MM-dd")</div>
<div>@Vyb.IsRevisionNeeded</div>
<div>
    <button class="bg-red-500 rounded-md p-1" @onclick="() => SmazEventCallback.InvokeAsync()">Smazat</button>
    <button class="bg-blue-500 rounded-md p-1" @onclick="() => RevizeEventCallback.InvokeAsync()">Provést revizi</button>
</div>

@code {
    [Parameter] public VybaveniVm Vyb { get; set; }
    [Parameter] public EventCallback SmazEventCallback { get; set; }
    [Parameter] public EventCallback RevizeEventCallback{ get; set; }
    
    
}
