@page "/vybaveni"
@using Blazor.Components
@inject HttpClient Http
@if (@seznamVybaveni is null)
{
    <div class="flex items-center justify-center h-screen">
        <div class="w-12 h-12 rounded-full animate-spin
                    border-y-4 border-solid border-blue-900 border-t-transparent"></div>
    </div>
    return;
}

<div class="p-4 ">
    <div class="grid grid-cols-3 justify-evenly text-center items-center">
        <div>
            <p>Počet vybavení: @seznamVybaveni.Count</p>
            <button class="twbtn bg-green-500  hover:bg-green-600" @onclick="noveVybaveni">
                Nový seznam
            </button>
        </div>
        <div>
            <p>Pro přidání náhodných předmětů do seznamu zadejte počet předmětů a potvrďte tlačítkem "Přidat náhodné vybavení"</p>
            <input class="border-2 border-blue-700" type="text" @bind-value=@oninput />
            <button class="twbtn bg-amber-500 mx-2 hover:bg-amber-600" @onclick="pridatVybaveni">
                Přidat náhodné vybavení
            </button>@error
        </div>
        <div>
            <button class="twbtn bg-fuchsia-700  hover:bg-fuchsia-800" @onclick="()=> {newModel = new(str, 0, DateTime.Now, DateTime.Now, Guid.NewGuid()); isInNewMode = true;}">
                Přidat konkrétní vybavení
            </button>
        </div>
    </div>

    <div class="grid grid-cols-6 border-b-2 border-black font-bold">
        <div class=" w-full h-full">Název</div>
        <div class=" w-full h-full">Cena(Kč)</div>
        <div class=" w-full h-full">Datum nákupu</div>
        <div class=" w-full h-full">Datum poslední revize</div>
        <div class=" w-full h-full">Potřebuje revizi?</div>
    </div>
    <div>
        @if (isInNewMode)
        {
            ArgumentNullException.ThrowIfNull(newModel);
            <div class=" my-1">
                <VybaveRow IsInEditMode=true Vyb="newModel" EditDoneCallback="() => {VytvorVybaveni(newModel);isInNewMode = false;}">

                    <div class="flex justify-center gap-2">

                        <button type="submit" class="twbtn bg-teal-500 hover:bg-teal-600">Přidat</button>
                        <button type="button" @onclick="() => isInNewMode = false" class="twbtn bg-yellow-500 hover:bg-yellow-600">Zrušit</button>

                    </div>
                </VybaveRow>
            </div>
        }

        @foreach (VybaveniVm vyb in seznamVybaveni)
        {
            <div class="grid grid-cols-6 my-1 @((vyb.IsRevisionNeeded) ? "bg-red-400" : "")">
                <VybaveRow Vyb="vyb"
                       SmazEventCallback="() => SmazVybaveni(vyb)"
                       RevizeEventCallback="() => vyb.LastRevisionDateTime=DateTime.Now"
                       EditDoneCallback="() => UpravVybaveni(vyb)">
                </VybaveRow>
            </div>
        }
    </div>
</div>




@code {

    List<VybaveniVm>? seznamVybaveni;
    string? oninput;
    string? error;
    string str = "";
    VybaveniVm? newModel;
    bool isInNewMode;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        seznamVybaveni = await Http.GetFromJsonAsync<List<VybaveniVm>>("vybaveni");
    }

    async Task SmazVybaveni(VybaveniVm vyb)
    {
        HttpResponseMessage odpoved = await Http.DeleteAsync($"vybaveni/{vyb.Id}");
        if (odpoved.IsSuccessStatusCode)
            seznamVybaveni?.Remove(vyb);
    }
    async Task UpravVybaveni(VybaveniVm upravene)
    {
        HttpResponseMessage odpoved = await Http.PutAsJsonAsync($"vybaveni/{upravene.Id}", upravene);

        if (odpoved.IsSuccessStatusCode)
        {
            Console.WriteLine("Item updated successfully.");
        }
        else
        {
            Console.WriteLine("Failed to update item. Please refresh the page.");
        }
    }
    async Task VytvorVybaveni(VybaveniVm nove)
    {
        HttpResponseMessage odpoved = await Http.PostAsJsonAsync("vybaveni", nove);
        Console.WriteLine("post proveden");

        if (odpoved.IsSuccessStatusCode)
        {
            VybaveniVm? vytvorene = await odpoved.Content.ReadFromJsonAsync<VybaveniVm>();
            if (vytvorene != null)
            {
                nove.Id = vytvorene.Id;
                seznamVybaveni.Insert(0, nove);
                Console.WriteLine("Item created successfully.");
            }
            else
            {
                Console.WriteLine("Item was created but not added to seznamVybaveni.");
            }
        }
        else
        {
            Console.WriteLine("Failed to create item. Please refresh the page.");
        }
    }
    /*
    public Vybaveni_nemocnice()
    {
        seznamVybaveni = VybaveniVm.VratRandSeznam(15);
    }*/
    public void noveVybaveni()
    {
        seznamVybaveni?.Clear();
        seznamVybaveni = VybaveniVm.VratRandSeznam(15);
    }
    public void pridatVybaveni()
    {
        error = "";
        if (!int.TryParse(oninput, out int pocet))
        {
            error = "Musíš zadat celé číslo.";
        }
        else if (pocet < 0)
        {
            error = "Zadat lze pouze nezáporné číslo.";
        }
        else
        {
            List<VybaveniVm> List = VybaveniVm.VratRandSeznam(pocet);
            for (int i = 0; i < List.Count; i++)
            {
                seznamVybaveni?.Insert(i, List[i]);
            }
        }

    }
}

