@page "/vybaveni"
@using Blazor.Components
@using Blazor.ViewModels

<div class="flex justify-center w-full font-sans text-xl">
Vítej v nemocnici!
</div>
<div class="p-4">
    pocet vybaveni @seznamVybaveni.Count<br>
<button class="bg-green-500 rounded-md p-1" @onclick="noveVybaveni">
    Resetuj seznam nahodneho vybaveni
</button>

<div class="grid grid-cols-5 border-b-2 border-black font-bold">
    <div class=" w-full h-full">Název</div>
    <div class=" w-full h-full">Datum nákupu</div>
    <div class=" w-full h-full">Datum poslední revize</div>
    <div class=" w-full h-full">Potřebuje revizi?</div>
</div>
<div class="">
    
    @foreach (VybaveniVm vyb in seznamVybaveni)
    {
        <div class="grid grid-cols-5 my-1 @((vyb.IsRevisionNeeded == "Ano") ? "bg-red-400" : "")">
        <VybaveRow Vyb="vyb"  
            SmazEventCallback="() => seznamVybaveni.Remove(vyb)" 
            RevizeEventCallback="() => vyb.lastRevisionDateTime=DateTime.Now">

        </VybaveRow>
        </div>
    }
</div>
</div>



@code {

    List<VybaveniVm> seznamVybaveni;

    public Vybaveni_nemocnice()
    {
        seznamVybaveni = VybaveniVm.VratRandSeznam(15);
    }
    public void noveVybaveni()
    {
        seznamVybaveni.Clear();
        seznamVybaveni = VybaveniVm.VratRandSeznam(15);
    }
   



}

