@page "/vybaveni"
@using Blazor.Components
@using Blazor.ViewModels

<div class="flex justify-center w-full font-sans text-xl">
    Vítej v nemocnici!
</div>
<div class="p-4 ">
    <div>Počet vybavení: @seznamVybaveni.Count</div>
    <div>
        <button class="bg-green-500 rounded-md p-1" @onclick="noveVybaveni">
            Nový seznam
        </button>
    </div>
    <div>
        <p>Pro přidání předmětů do seznamu zadejte počet předmětů a potvrďte tlačítkem "Přidat"</p>
        <input class="border-2 border-blue-700" type="text" @bind-value=@oninput />
        <button class="bg-green-500 rounded-md p-1 mx-2" @onclick="pridatVybaveni">
            Přidat
        </button>@error
    </div>

    <div class="grid grid-cols-6 border-b-2 border-black font-bold">
        <div class=" w-full h-full">Název</div>
        <div class=" w-full h-full">Cena(Kč)</div>
        <div class=" w-full h-full">Datum nákupu</div>
        <div class=" w-full h-full">Datum poslední revize</div>
        <div class=" w-full h-full">Potřebuje revizi?</div>
    </div>
    <div>

        @foreach (VybaveniVm vyb in seznamVybaveni)
        {
            <div class="grid grid-cols-6 my-1 @((vyb.IsRevisionNeeded) ? "bg-red-400" : "")">
                <VybaveRow Vyb="vyb"
                       SmazEventCallback="() => seznamVybaveni.Remove(vyb)"
                       RevizeEventCallback="() => vyb.LastRevisionDateTime=DateTime.Now">
                </VybaveRow>    
            </div>
        }
    </div>
</div>



@code {

    List<VybaveniVm> seznamVybaveni;
    string? oninput;
    string? error;

    public Vybaveni_nemocnice()
    {
        seznamVybaveni = VybaveniVm.VratRandSeznam(15);
    }
    public void noveVybaveni()
    {
        seznamVybaveni.Clear();
        seznamVybaveni = VybaveniVm.VratRandSeznam(15);
    }
    public void pridatVybaveni()
    {
        error = "";
        if (!int.TryParse(oninput, out int pocet))
        {
            error = "Musíš zadat celé číslo.";
        }
        else if (pocet < 0)
        {
            error = "Zadat lze pouze nezáporné číslo.";
        }
        else
        {
            List<VybaveniVm> List = VybaveniVm.VratRandSeznam(pocet);
            for (int i = 0; i < List.Count; i++)
            {
                seznamVybaveni.Add(List[i]);
            }
        }

    }




}

